/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  /* background: rgb(182, 182, 196); */
}

::-webkit-scrollbar-corner {
  background: transparent;
}
